html, body {
    padding: 0;
    margin: 0;
}

:root {
  --main-background-color: #a7d9e8;
  --highlight-color: #74a6b5;
}


header {
    background: var(--main-background-color);
    padding: 10px 0;

}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}


table.data {
    tr {
        th {
            border-bottom: 1px solid var(--highlight-color);
            padding: 5px;
            margin: 0;
        }
        td {
            border-bottom: 1px solid var(--main-background-color);
            padding: 5px;
            margin: 0;
        }
    }
}
